<!DOCTYPE html>
<html lang="en">
<head>
    {% extends "base.html" %}
{% block content %}
    <meta charset="UTF-8">
    <title>Trans History</title>
</head>
<body>
<ol>
    <h1>YOUR VM HISTORY</h1>

{%for i in range(0, leen)%}

    <li><h1><div class="btn btn-primary btn-lg">{{transfer}}{{keyvalue1[i]}}</div></h1> </li>
{%endfor%}
   </ol>

<!--############-->
<ol>
    <h1>YOUR VPC HISTORY</h1>

{%for i in range(0, vpclen)%}

    <li><h1><div class="btn btn-primary btn-lg">{{transfer}}{{keyvalue2[i]}}</div></h1> </li>
{%endfor%}
   </ol>




{% endblock %}
</body>
</html>